<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
      <h4 style="color:white">Leave DashBoard</h4>
     
   
  </div>
  </nav>

  <table class="table mt-3">
      <thead>
          <tr>
            
              <th scope="col">Serial No</th>
              <th scope="col">Employee Name</th>
              <th scope="col">E-mail ID</th>
              <th scope="col"> Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Reason</th>
              <th scope="col">Action</th>
          </tr>
        </thead>
      <tbody>
          <tr *ngFor='let row of employeeData ; index as i'>
            <td>{{i+1}}</td>
            
            <td>{{row.username}}</td>
            <td>{{row.email}}</td>
            <td>{{row.start}}</td>
            <td>{{row.end}}</td>
            <td>{{row.category}}</td>
              <td>
                  <button routerLink="/admin/update" class="btn btn-outline-success" type="button">Approve/Deny</button>
                   
              </td>
          </tr>
      </tbody>
  </table>

  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Product ID</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formvalue">
                <div class="form-group">
                  <label for="exampleInputEmail1">Product Name</label>
                  <input type="text" formControlName="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                 
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Brand Name</label>
                  <input type="text" formControlName="lastname" class="form-control" id="exampleInputPassword1" >
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1"> Description</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1" >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Category</label>
                    <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1" >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Price</label>
                    <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1" >
                  </div>
                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div> -->



<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>  -->





        