<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
      <h4 style="color:white">Leave DashBoard</h4>
     
   
  </div>
  </nav>

  <table class="table mt-3">
      <thead>
          <tr>
            
              <th scope="col">Serial No</th>
              <th scope="col">Employee Name</th>
              <th scope="col">E-mail ID</th>
              <th scope="col"> Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Reason</th>
              <th scope="col">Action</th>
          </tr>
        </thead>
      <tbody>
          <tr *ngFor='let row of employeeData ; index as i'>
            <td>{{i+1}}</td>
            
            <td>{{row.username}}</td>
            <td>{{row.email}}</td>
            <td>{{row.start}}</td>
            <td>{{row.end}}</td>
            <td>{{row.category}}</td>
              <td>
                  <button routerLink="/admin/update" class="btn btn-outline-success" type="button">Approve/Deny</button>
                   
              </td>
          </tr>
      </tbody>
  </table>

  