<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Abhishek Verma</h2>
            <h4>abhi.verma@email.com</h4>
        </div>
        <img src="../assets/abhi.jpg" width="200" height="200" alt="Abhishek Verma">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">Employee Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/posts">Employee Leave Update</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/list">Employee list</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/managerDetails">Manager list</a>


    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
