<h2 style="text-align: center; margin:20px ;font-size:25px; text-decoration: underline;">List Of Employees</h2>


<table class="table table-light">
    <thead>
      <tr >
        
        <th scope="col">Employee ID</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Job Position</th>
        <th scope="col">Department</th>
        <th scope="col">Salary</th>
        <th scope="col">Total Leaves</th>
        <th scope="col">Leaves Availed</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of list"> 
        <th scope="row">{{ product.empId }}</th>
        <td>{{ product.empName }}</td>
        <td>{{ product.empEmail }}</td>
        <td>{{ product.empPhone }}</td>
        <td>{{ product.jobTitle }}</td>
        <td>{{ product.department }}</td>
        <td>{{ product.salary }}</td>
        <td>{{ product.totalLeaves }}</td>
        <td>{{ product.leavesTaken }}</td>
      </tr>
    
    </tbody>
  </table>
