<nav class="navbar navbar-expand-lg navbar- bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand" style="margin: 5px; padding:8px;">A-M-S</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link " style="color:white;"  aria-current="page" routerLink="/employeeDash">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Leave
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/applyLeave">Apply Leave</a></li>
            <li><a class="dropdown-item"  href="#">Leave Status</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/activity">Holiday Calender</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/profile">Profile</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

  </div>
</nav>


<div class="row justify-content-center">
  <h1 style="text-align: center;">Please fill the below form to Apply for Leave</h1>
  <div class="col-md-6 text-left bg-white rounded shadow py-3">



    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Employee ID</label>
          <input type="text" class="form-control" formControlName="empid" id="paasword">
          <small class="text-danger" *ngIf="word && word.invalid && word.touched">Fill Employee ID!!</small>
        </div>
      </div>

      <div class="form-group">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Employee Name</label>
          <input type="text" class="form-control" formControlName="username" id="username" aria-describedby="emailHelp">
          <small class="text-danger" *ngIf="user && user.invalid && user.touched">
            <span>Please Enter the Full Name!! </span>
            <!-- <span>This Username is not allowed!! </span> -->
          </small>
        </div>
      </div>
      <div class="form-group">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Employee Email address</label>
          <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp">
          <small class="text-danger" *ngIf="address && address.invalid && address.touched">Please Enter the Valid
            Email!!</small>
        </div>
      </div>



      <div class="form-group">
        <label for="category">Select The reason</label>
        <select class="form-control" id="category" formControlName="category">
          <option value=""> </option>
          <option value="Health"> Health Issue </option>
          <option value="Family"> Family Issue</option>
          <option value="others"> Others</option>
        </select>
      </div>
      &nbsp; &nbsp;

      <div class="form-group">
        <div class="mb-3">
          <mat-form-field appearance="fill" color="accent">
            <mat-label style="color:black;">Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="mydatepicker" [dateFilter]="rangeFilter" >
              <input matStartDate placeholder="Start date"  formControlName="start" >
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="mydatepicker" ></mat-datepicker-toggle>
            <mat-date-range-picker #mydatepicker ></mat-date-range-picker>
          </mat-form-field>
          <small class="text-danger" *ngIf="desccr && desccr.invalid && desccr.touched">Please Enter atleast 50
            words!!</small>

        </div>
      </div>

      

      <button type="submit" (click)="postContactDetails()" class="btn btn-primary">Submit</button>
    </form>

  </div>
</div>

<div class="footer-basic">
  <footer>
    <p class="copyright">R-A-S Attandance Management System © 2018</p>
  </footer>
</div>
