<nav class="navbar navbar-expand-lg navbar- bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand" style="margin: 5px; padding:8px;">A-M-S</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link " style="color:white;"  aria-current="page" routerLink="/employeeDash">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Leave
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/applyLeave">Apply Leave</a></li>
            <li><a class="dropdown-item"  href="#">Leave Status</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/activity">Holiday Calender</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/profile">Profile</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

  </div>
</nav>
<h2 style="text-align: center; margin:20px ;font-size:25px;">List Of Holidays of Year 2022</h2>
<table class="table table-light">
  <thead>
    <tr >
      
      <th scope="col">Day</th>
      <th scope="col">Name of Festival/Ocassion</th>
      <th scope="col">Date</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products"> 
      <th scope="row">{{ product.day }}</th>
      <td>{{ product.holidayname }}</td>
      <td>{{ product.date }}</td>
    </tr>
  
  </tbody>
</table>



<div class="footer-basic">
  <footer>
     
     
      <p class="copyright">R-A-S Attandance Management System © 2018</p>
  </footer>
</div>