<div class="row justify-content-center">
    <h1 style="text-align: center;">Please fill the below form to Deny the Employee's Leave Request</h1>
    <div class="col-md-6 text-left bg-white rounded shadow py-3">
  
  
  
      <form [formGroup]="ReactiveForm" (ngSubmit)="onSubmit()">
  
        <div class="form-group">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Manager ID</label>
            <input type="text" class="form-control" formControlName="managerid" id="username" aria-describedby="emailHelp">
            
             
              <!-- <span>This Username is not allowed!! </span> -->
            
          </div>
        </div>
        <div class="form-group">
          <label for="category">Select The Action</label>
          <select class="form-control" id="status" formControlName="status">
            
            <option value="approve"> Approve Leave </option>
            <option value="Denied"> Deny Leave</option>
            
          </select>
        </div>
  
        
      </form>
      <div class="mt-3">
        <button type="submit" (click)="postleaveDetails()" class="btn btn-danger">Submit</button>
      </div>
  
    </div>
  </div>
